<div class="flex flex:column items:center justify:center pv:5 ph:2">
  <h1 class="size:jumbo t:center">Demo de electron</h1>
  <p class="t:center">{{ message }}</p>

  <div class="flex justify:center">
    <button class="ui:button type:button theme:secondary style:round" (click)="send()">Enviar un mensaje de prueba</button>
  </div>

</div>
