/* You can add global styles to this file, and also import other style files */
:root {
  --db-base-color:  #09111a;
  --db-font-face:  sans-serif;
  --db-title-face: sans-serif;
  --db-line-height: 1.4;
  --db-small-relative: 90%;

  --db-font-base: 16px;
  --db-size-xs: 12px;
  --db-size-sm: 14px;
  --db-size-md: 20px;
  --db-size-lg: 25px;
  --db-size-tl: 40px;
  --db-size-jb: 60px;
  --db-size-hr: 80px;
  --db-size-mg: 150px;

  --db-radius-sm: 4px;
  --db-radius-md: 12px;
  --db-radius-lg: 18px;
  --db-radius-fluid: 100%;
  --db-breakpoint-m: 320px;
  --db-breakpoint-tb: 768px;
  --db-breakpoint-l: 1024px;
  --db-breakpoint-d: 1366px;
  --db-breakpoint-hd: 1540px;
  --db-breakpoint-w: 1920px;
}
